# Web app
NEXT_PUBLIC_BASE_PATH=/photos
ELASTICSEARCH_URL=http://localhost:9200
REDIS_URL=redis://localhost:6379
STORAGE_ROOT=./storage

# Docker (호스트 스토리지 경로)
STORAGE_HOST_PATH=/mnt/extra/photo-drive
